@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html {
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  color: #1e202a;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

@-webkit-keyframes slide-in {
  from {
    left: 28px;
  }
  to {
    left: 3.5px;
  }
}

@keyframes slide-in {
  from {
    left: 28px;
  }
  to {
    left: 3.5px;
  }
}

@-webkit-keyframes slide-out {
  from {
    left: 3.5px;
  }
  to {
    left: 28px;
  }
}

@keyframes slide-out {
  from {
    left: 3.5px;
  }
  to {
    left: 28px;
  }
}

.main {
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 1;
  -webkit-transition: background-color 0.32s ease-in-out;
  transition: background-color 0.32s ease-in-out;
}

.main .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  background-color: #f5f7ff;
  z-index: 1;
  -webkit-transition: background-color 0.32s ease-in-out;
  transition: background-color 0.32s ease-in-out;
}

.main .header {
  position: relative;
  z-index: 5;
  background-color: transparent;
}

.main .container {
  position: relative;
  z-index: 10;
}

.dark-mode {
  background-color: #1e202a;
}

.dark-mode .background {
  background-color: #1f212e;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
}

.header.dark-mode .tittle {
  color: white;
}

.header.dark-mode .subtittle {
  color: #8b97c6;
}

.header.dark-mode .toggle-container h3 {
  color: #8b97c6;
}

@media (max-width: 63.9375em) {
  .header {
    display: block;
  }
}

.header .tittle {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
}

@media (max-width: 39.9375em) {
  .header .tittle {
    font-size: 24px;
  }
}

.header .subtittle {
  font-size: 14px;
  font-weight: 700;
  color: #63687e;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
  margin-bottom: 50px;
}

@media (max-width: 63.9375em) {
  .header .subtittle {
    margin-bottom: 0;
    padding-bottom: 30px;
    border-bottom: 1px #8b97c6 solid;
  }
}

.header .toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 140px;
  height: 100%;
}

@media (max-width: 63.9375em) {
  .header .toggle-container {
    width: 100%;
    margin: 30px 0;
  }
}

.header .toggle-container h3 {
  font-size: 14px;
  color: #63687e;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
  line-height: 30px;
}

.header .toggle-container .toggle {
  cursor: pointer;
  position: relative;
  width: 55px;
  height: 30px;
  border-radius: 15px;
  background: #aeb3cb;
  margin-left: auto;
}

.header .toggle-container .toggle:hover {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

.header .toggle-container .toggle .circle {
  position: absolute;
  top: 3px;
  left: 28px;
  width: 24px;
  height: 24px;
  border-radius: 12.5px;
  background-color: #f0f2fa;
  -webkit-animation: slide-out 0.32s ease-out both;
          animation: slide-out 0.32s ease-out both;
  -webkit-transition: background-color 0.32s ease-in-out;
  transition: background-color 0.32s ease-in-out;
}

.header .toggle-container .toggle .circle.dark-mode {
  background-color: #252a41;
}

.header .toggle-container .toggle-active {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

.header .toggle-container .toggle-active > .circle {
  -webkit-animation: slide-in 0.32s ease-out both;
          animation: slide-in 0.32s ease-out both;
}

.container {
  height: 100%;
  max-width: 1270px;
  margin: auto;
  padding: 100px 100px;
  width: 90%;
}

@media (max-width: 39.9375em) {
  .container {
    padding: 10px;
  }
}

.container .primarygrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 50px;
}

@media (max-width: 63.9375em) {
  .container .primarygrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}

@media (max-width: 39.9375em) {
  .container .primarygrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

.container .primarygrid .card {
  position: relative;
  padding: 30px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #f0f2fa;
  overflow: hidden;
  -webkit-transition: background-color 0.32s ease-in-out;
  transition: background-color 0.32s ease-in-out;
}

.container .primarygrid .card.dark-mode {
  background-color: #252a41;
}

.container .primarygrid .card.dark-mode .account h2 {
  color: #8b97c6;
}

.container .primarygrid .card.dark-mode .followers h2 {
  color: white;
}

.container .primarygrid .card.dark-mode .followers p {
  color: #8b97c6;
}

.container .primarygrid .card .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.container .primarygrid .card .line-face {
  background-color: #198ff5;
}

.container .primarygrid .card .line-twitter {
  background-color: #1ca0f2;
}

.container .primarygrid .card .line-instagram {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.container .primarygrid .card .line-youtube {
  background-color: #c4032a;
}

.container .primarygrid .card .account {
  margin-bottom: 20px;
}

.container .primarygrid .card .account h2 {
  margin-left: 10px;
  font-size: 14px;
  color: #63687e;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
}

.container .primarygrid .card .followers h2 {
  font-size: 56px;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
}

.container .primarygrid .card .followers p {
  letter-spacing: 3px;
  color: #63687e;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
}

.container .primarygrid .card .variation {
  position: relative;
  margin-top: 30px;
  color: #1db489;
  font-weight: 700;
}

.container .primarygrid .card .variation span {
  margin-right: 3px;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("/images/icon-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container .primarygrid .card .variation-negative {
  color: #dc414c;
}

.container .primarygrid .card .variation-negative span {
  background-image: url("/images/icon-down.svg");
}

.container .overview {
  margin-bottom: 25px;
  background-color: transparent;
}

.container .overview.dark-mode h2 {
  color: #8b97c6;
}

.container .overview h2 {
  font-size: 26px;
  color: #63687e;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
}

.container .secondarygrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 15px;
}

@media (max-width: 63.9375em) {
  .container .secondarygrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 39.9375em) {
  .container .secondarygrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

.container .secondarygrid .dailyCard {
  border-radius: 10px;
  min-height: 125px;
  background-color: #f0f2fa;
  -webkit-transition: background-color 0.32s ease-in-out;
  transition: background-color 0.32s ease-in-out;
}

.container .secondarygrid .dailyCard.dark-mode {
  background-color: #252a41;
}

.container .secondarygrid .dailyCard.dark-mode .dailyCard-container .text {
  color: #8b97c6;
}

.container .secondarygrid .dailyCard.dark-mode .dailyCard-container .value {
  color: white;
}

.container .secondarygrid .dailyCard-container {
  position: relative;
  width: 80%;
  height: 60%;
}

.container .secondarygrid .dailyCard-container .text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #63687e;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
}

.container .secondarygrid .dailyCard-container img {
  position: absolute;
  right: 0;
  top: 0;
}

.container .secondarygrid .dailyCard-container .value {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 32px;
  -webkit-transition: color 0.32s ease-in-out;
  transition: color 0.32s ease-in-out;
}

.container .secondarygrid .dailyCard-container .p {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #1db489;
  font-weight: 700;
}

.container .secondarygrid .dailyCard-container .p span {
  margin-right: 3px;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("/images/icon-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container .secondarygrid .dailyCard-container .p-negative {
  color: #dc414c;
}

.container .secondarygrid .dailyCard-container .p-negative span {
  background-image: url("/images/icon-down.svg");
}
/*# sourceMappingURL=styles.css.map */