$SoftBlue: hsl(231, 69%, 60%);
$SoftBlueTransparent: hsla(231, 69%, 60%, .4);
$SoftRed: hsl(0, 94%, 66%);
$SoftRedTransparent: hsla(0, 94%, 66%, .8);
$Grayishblue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);
$VeryDarkBlueTransparent: hsla(229, 31%, 21%, .95);
$LigthGrayishBlue: hsl(229, 8%, 90%);
$white: hsl(216, 100%, 98%);


//margins

$make-space-mobile: 150px;
$make-space-desktop: 80px;


//font size

$XLarge: 4.2rem;
$VeyLarge: 3.5rem;
$Large: 3rem;
$Medium: 1.8rem;
$Small: 1.4rem;